{% extends 'base.html.twig' %}

{% block title %}Compendium{% endblock %}

{% block body %}

<div> 
    <h1>Accueil</h1>
    <p>Bienvenue sur Compendium, le site de partage de connaissances.</p>
</div>

<text> 
    <h2>Les dernières contributions</h2>
    <p>Voici les dernières contributions des utilisateurs :</p>
</text>

{% endblock %}