{% extends 'base.html.twig' %}

{% block title %}Celestial{% endblock %}

{% block body %}

<h3>Création de corps céleste</h3>
{% if app.user %}
    <p>Bienvenue dans votre interface d'ajout de corps céleste!</p>
{% else %}
    <p>You must be logged in to access this page.</p>
    <a class="btn btn-light btn-light" href="{{path("app_login")}}">Login</a>
{% endif %}

{% if app.user %}
    {{ form(celestial_form) }}
{% endif %}

{% endblock %}