<form method="post" action="{{ form.vars.action }}" class="d-flex">
    {{ form_widget(form.search, {'attr': {'class': 'form-control me-2'}}) }}
    <button type="submit" class="btn btn-primary">
        <i class="fas fa-search"></i> <!-- Icône de loupe -->
    </button>
</form>